<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <LABLinkService DefaultSetting="True">
    <Item Name="Port" Value="104" Desc="" />
    <Item Name="Timerinterval" Value="100" Desc="" />
    <Item Name="Delaytime" Value="10" Desc="" />
    <Item Name="Database" Value="lis" Desc="" />
    <Item Name="Server" Value="HongNgoc-Ehos" Desc="" />
    <Item Name="Password" Value="admindblis!@#" Desc="" />
    <Item Name="ip" Value="192.168.1.1" Desc="" />
    <Item Name="PortNumber" Value="111" Desc="" />
    <Item Name="UserId" Value="admindblis" Desc="" />
    <Item Name="IpAdress" Value="192.168.1.1" Desc="" />
    <Item Name="DateFormat" Value="dd/MM/yyyy H:mm:ss" Desc="" />
    <Item Name="UseTestTypeIdToGenerateBarcode" Value="False" Desc="" />
    <Item Name="LogState" Value="False" Desc="" />
    <Item Name="TCPIP" Value="False" Desc="" />
    <Item Name="File" Value="True" Desc="" />
    <Item Name="RS232" Value="True" Desc="" />
    <Item Name="AutoGeneratePatientAndTestOrder" Value="False" Desc="" />
    <Item Name="AutoUpdateOrderStatusAfterSend" Value="True" Desc="" />
    <Item Name="UseMultiInsertResultToDB" Value="" Desc="" />
  </LABLinkService>
  <LABLinkBusiness DefaultSetting="True">
    <Item Name="Default Name" Value="Default Value" Desc="Default Desc" />
    <Item Name="ParentBranch" Value="1" Desc="" />
    <Item Name="Branch" Value="THAIHA" Desc="" />
    <Item Name="Address" Value="1" Desc="" />
    <Item Name="Phone" Value="1" Desc="" />
    <Item Name="ReportType" Value="11" Desc="" />
    <Item Name="eStyle" Value="Office2007Blue" Desc="" />
  </LABLinkBusiness>
</configuration>