<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <section name="SubSonicService" type="SubSonic.SubSonicSection, SubSonic" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="subSonicConnectionString" connectionString="Data Source=HIENTD; Initial Catalog=LABLink; User ID=sa;Password=vietbait;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <SubSonicService defaultProvider="ORM">
    <providers>
      <clear />
      <add name="ORM" type="SubSonic.SqlDataProvider, SubSonic" connectionStringName="subSonicConnectionString" generatedNamespace="Vietbait.Lablink.Model" />
    </providers>
  </SubSonicService>
</configuration>